<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>가게 검색 페이지의 지도</title>
    <link rel="stylesheet" href="/css/store/storeSearch.css">
  
</head>
<body>

    <main>
   <!-- 현재 주소를 중심으로 가까운 가게들 마커로 표시 -->
    <div class="map_wrap">
        <div id="map"></div>
       
    </div>

</main>

    
    <script src="/js/store/storeSearch.js"></script>

</body>
</html>