<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보</title>
</head>
<body>
    

    <table border="1" style="border-collapse: collapse;">

        <thead>
          <th>회원 번호</th>
          <th>회원 아이디</th>
          <th>회원 이름</th>
          <th>회원 나이</th>
        </thead>
    
    
        <tbody>
        
         
            <th th:each=" us : ${userList}" th:object="${us}">

              <tr>

                <th th:text="*{userNo}">회원번호</th>
                
                <th th:text="*{userId}">회원아이디</th>
                
                <th th:text="*{userName}">회원이름</th>
                <th th:text="*{userAge}">회원나이</th>
              </tr>

            </th>
          </c:forEach>
    
        </tbody>
      </table>

</body>
</html>