<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.kh.test.user.model.mapper.UserMapper">
 

 
 <!-- #{ } 해석될 때 양쪽에 ' ' 홑 따옴표가 붙는다 
  resultType은 조회된 1행만 생각한다
 -->
 <!-- 전달 받은 inputName 포함된 조회 -->
<select id="selectName" resultType="User">
SELECT * FROM TB_USER 
WHERE USER_NAME LIKE '%${inputName}%'
</select>
</mapper>

<!--  -->