<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
</head>
<body>

  <main>

    <form action="selectName">
      
      // 여기서 input의 name은 파라미터의 key 값으로 전달된다

    <label for="userId">회원 정보 조회(이름 검색)</label>
    <div class="search-input-area">
      <input type="text" name="inputName"
      placeholder="회원 아이디 입력" maxlength="20" >

      <button id="searchBtn">조회</button>
    </div>

    </form>
  </main>

    

  <script src="/js/index.js"></script>
</body>
</html>