<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{app.name}">타임리프 설정됨</title>

    <style>
      ul{
        list-style-type: none;
      }
    </style>
    
</head>
<body>

 <h1>스프링 부트 수업 입니다</h1>
 
  <h3>스프링 부트 프로젝트 서버 배포 방법</h3>

  <pre>

    src/main/java 하위 패키지에
    000application.java 파일이 프로젝트 생성 시 자동 생성 (000은 프로젝트 이름)

    해당 클래스에는 main메서드가 존재해서 실행하면 내장된 tomcat 서버가 배포 시작됨 
    -> 브라우저가 자동으로 실행되지 않기 때문에 각자 주소를 입력해야 함


  </pre>

  <hr>


  <h3>프로젝트 구조</h3>
  <ul>
    <li>src/main/java : 자바 소스 코드를 모아두는 폴더</li>

    <li>
        src/main/resources : 자바에서 사용할 자원, 설정 파일을 모아두는 폴더

        <ul>
           <li>templates :  Java 템플릿(응답 화면)을 모아두는 폴더(thymeleaf)</li>
            
           <li>static : templates에 적용될 정적 자원을 모아두는 폴더(JS, CSS, 이미지)</li>
           
           <li>application.properties : Spring Boot 프로젝트 관련 설정을 정의하는 파일 (중요!)</li>
        </ul>
    </li>


    <li>Project and External Dependencies : build.gradle에 명시된 라이브러리 모음</li>
    <li>
        build.gradle : gradle(빌드도구 == maven의 pom.xml) <br>
       프로젝트에 필요한 라이브러리, 배포, 빌드 관련 설정을 작성하는 파일
    </li>

  </ul>

  <hr>

  <ol>
    <li>
      <a href="/example">정적 자원(js,css, image) 연결</a>
    </li>
  </ol>
   
  <pre>

    Servlet에서는 Servlet 클래스를 만들어 @WebServlet("/example") 하고 doGet() 오버라이딩 했었음

    코드를 실행시키기 위해서는 클래스를 객체로 만들어아 함
    IOC 제어 반전으로 객체 생성을 스프링이 대신 해줌
    @Controller 어노테이션으로 컨트롤러 역할을 할 것임을 명시

    @Controller
    요청/ 응답을 제어할 컨트롤러 역할 명시
    Bean으로 등록

    // Java 객체 : new 연산자에 의해 Heap 영역에 클래스에 작성된 내용대로 생성된 것 

    // instance : 개발자가 만들고 관리하는 객체
    
    // Bean : Spring Container(Spring) 가 만들고 관리하는 객체

    기존 Servlet : 클래스 단위로 하나의 요청만 처리 가능
    예전에는 요청이 세개가 오면 클래스를 3개 만들어야 했는데
    spring은 메서드 단위로 요청 처리 가능

    

  </pre>

  <ol>
    <li>
      <a href="/test">요청 + forward 처리</a>
    </li>
  </ol>

 
   <pre>
    @RequestMapping("요청주소")
    - 요청 주소를 처리할 메서드를 매핑해줌
    return으로 경로 적기 적을 때 templates/는 쓰면 안됨 오류 뜸
   </pre>


   <h2>thymeleaf</h2>


   <pre>

    /*
    * Controller 메서드의 반환형이 String인 이유 !!
    * 
    * - 메서드에서 반환되는 문자열이 forward할 html 파일의 경로가 되기 때문!!!
    * 
    * */
   
   // src/main/resources/templates/test.html 가 세부 경로임
   
   /*Thymeleaf :JSP 대신 사용하는 템플릿 엔진
    * 
    * classpath == src/main/resources  (java 프로젝트에 지정이 되어있음)
    * 접두사 : classpath:/templates/
    * 접미사 : .html 
    * 
    * */

    /* 접두사, 접미사, forward 설정은 View resolver(해결사) 
    * 
    *  Controller가 "test"라는 문자열을 반환해줌
    *  View Resolver가 접두사, 접미사를 준비하고 있다가 가운데 반환받은 주소로 forward할 준비를 해줌
    * */
   </pre>


   <li><a href="/main/param-main">서버로 파라미터 제출하기</a></li>

     <script src="/js/main.js"></script>
</body>
</html>