/* .map_wrap {position:relative;width:100%;height:350px;} */
:root {
   --main-color : #b1ab9a ;
   /* --hover-color : #e9ae2f; */
}
* {
   
   box-sizing: border-box;
   padding: 0;
   margin: 0;
   font-family: 'Pretendard-Regular';
}

body{
    overflow: hidden;
 
}
.map_wrap{
 width: 80%;
}

#map{
   
  
    user-select: none;
    height: 100vh;
   
   
}

.store-search{
   display: flex;
   flex-direction: row;
   
}
.storeSearch-sidemenu{
   flex: 0 0 20%; /* Set the width of the side menu */
   background-color: #f1f1f1; /* Optional: Add a background color */
   padding: 20px; /* Optional: Add some padding */
   
}

/* 화면 전체에 100wh userselect none 주고 그 안의 map에 flex 11auto */