<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내가 쓴 게시글</title>
</head>
<body>
     <!-- 내가 쓴 게시글 (입양후기) -->

     <div class="profile-container">

        <table class="board-table review-table">
          <thead>
            <tr>
              <th>게시글 제목</th> <!-- 내가쓴 게시글 파일로 주소 연결 -->
              <th>조회수</th>
              <th>댓글</th>
              <th>게시일</th>
            </tr>
          </thead>

          <tbody id="reviewList">
          <!--   <tr>
              <td>안녕하세요</td>
              <td>100</td>
              <td>10</td>
              <td>2024.04.02</td>
            </tr>

            <tr>
              <td>입양후기</td>
              <td>24</td>
              <td>1</td>
              <td>2024.03.02</td>
            </tr>
            <tr>
              <td>커뮤니티 게시글</td>
              <td>1</td>
              <td>23</td>
              <td>2024.02.02</td>
            </tr> -->


          </tbody>
        </table>
      </div>

</body>
</html>