<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>메인 페이지</title>
</head>
<body>
    
    
  <main>
    <form action="result" method="POST">
        <h4>고객 추가</h4>
    
        <div>
          이름 : <input type="text" name="customerName" id="customerName">
        </div>
    
        <div>
          전화번호 : <input type="text" name="customerTel" id="customerTel">
        </div>
    
        <div>
          주소 : <input type="text" name="customerAddress" id="customerAddress">
        </div>
    
        
    
        <button>추가</button>
    
      </form>
    
  </main>

    
</body>
</html>