<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>책 등록</title>
</head>
<body>


        <!-- form 태그 제출은 무조건 동기식!!! -->
        <div>
            <h4>책 추가</h4>
        
            <div>
              제목 : <input type="text" id="bookTitle">
            </div>
        
            <div>
              글쓴이 : <input type="text" id="bookWriter">
            </div>
        
            <div>
              가격 : <input type="text" id="bookPrice">
            </div>
        
        
            <button id="addBtn">추가 하기</button>
        
          </div>

          
  <script src="/js/ajax-main.js"></script>
    
</body>
</html>